.env
config/services.php
app/Http/Controllers/company/CompanyRegesterController.php
app/Http/Middleware/SetUserDatabase.php
app/Http/Requests/Auth/LoginRequest.php
config/services.php
app/Http/Requests/Auth/LoginRequest.php
app/Http/Controllers/Auth/GoogleController.php
